{% extends 'base.html.twig' %}
{% block title %}
	Einkaufliste App - M151
{% endblock %}
{% block body %}
	<section class="section container">
		<h1 class="title has-text-centered">Anmelden</h1>
		<div class="form">
			{{ form_start(form) }}
			<div class="field">
				<div class="label">
					{{ form_label(form.userName, "Benutzername") }}
				</div>
				<div class="control">
					{{ form_widget(form.userName) }}
				</div>
			</div>

			<div class="field">
				<div class="control">
					<div class="label">
						{{ form_label(form.password, "Passwort") }}
					</div>
					<div class="control">
						{{ form_widget(form.password) }}
					</div>
				</div>
			</div>

			<div class="field is-grouped">
				<div class="control">
					{{ form_row(form.submit, { 'label': 'Anmelden'}) }}
				</div>
				<div class="control">
					<a href="/register">
						{{ form_row(form.register, { 'label': 'Registrieren'}) }}
					</a>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</section>{% endblock %}
