{% extends 'base.html.twig' %}
{% block title %}Einkaufliste App - M151 - Produkt bearbeiten
{% endblock %}
{% block body %}
	<section class="section container">
		<h1 class="title has-text-centered">Produkt bearbeiten</h1>
		<div class="form">
			{{ form_start(form) }}
			<div class="field">
				<div class="label">
					{{ form_label(form.amount, "Anzahl") }}
				</div>
				<div class="control">
					{{ form_widget(form.amount) }}
				</div>
			</div>

			<div class="field">
				<div class="control">
					<div class="label">
						{{ form_label(form.name, "Name") }}
					</div>
					<div class="control">
						{{ form_widget(form.name) }}
					</div>
				</div>
			</div>

			<div class="field is-grouped">
				<div class="control">
					{{ form_row(form.cancel, { 'label': 'Abbrechen'}) }}
				</div>
				<div class="control">
					{{ form_row(form.submit, { 'label': 'Speichern'}) }}
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</section>{% endblock %}
