{% extends 'base.html.twig' %}
{% block title %}Einkaufliste App - M151
{% endblock %}
{% block body %}
	<section class="section container">
		<h1 class="title has-text-centered">Einkaufliste</h1>

		<table class="table is-fullwidth">
			<thead>
				<tr>
					<th>
						<abbr>#</abbr>
					</th>
					<th>
						<abbr>Anzahl</abbr>
					</th>
					<th>
						<abbr>Name</abbr>
					</th>
					<th>
						<abbr></abbr>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>
							{{item.id}}
						</td>
						<td>
							{{item.amount}}
						</td>
						<td>
							{{item.name}}
						</td>
						<td>
							<div class="columns">
								<div class="column">
									<a class="button is-primary">
										<i class="fas fa-edit"></i>
										Editieren
									</a>
								</div>
								<div class="column">
									<a class="button is-danger">
										<i class="fas fa-trash"></i>
										Löschen
									</a>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h2 class="title has-text-centered">Produkt hinzufügen</h2>
		<div class="form has-text-centered">
			{{form_start(form)}}
			{{form_widget(form)}}
			{{form_end(form)}}
		</div>
	</section>
{% endblock %}
