{% extends 'base.html.twig' %}
{% block title %}Einkaufliste App - M151 - Produkt Details
{% endblock %}
{% block body %}
	<section class="section container has-text-centered">
		<h1 class="title has-text-centered">{{ item.name }}
			Details</h1>
		<br/>

		<h2 class="subtitle">
			Name:
			{{ item.name }}
			<br/>
			Anzahl:
			{{ item.amount }}
		</h2>

		<div class="columns">
			<div class="column">
				<a href="/" class="button is-secondary">
					Zurück
				</a>
			</div>
			<div class="column">
				<a href="/edit/{{item.id}}" class="button is-primary">
					<i class="fas fa-edit"></i>
					Editieren
				</a>
			</div>
			<div class="column">
				<a href="/remove/{{item.id}}" class="button is-danger">
					<i class="fas fa-trash"></i>
					Löschen
				</a>
			</div>
		</div>
	</section>
{% endblock %}
